.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.todo-item ul {
  width: 50%;
  margin: 15px auto;
  padding: 0;
}
.todo-item ul li {
  list-style-type: none;
  background-color: #b0dff1;
  margin-top: 15px;
  font-size: 18px;
  padding: 10px;
  color:#777;
  display: flex;
  justify-content: space-between;
}
.del {
  cursor: pointer;
  color: red;
  font-size: 25px;
}
h3{
  color:#777;
}
.todo-list {
  width: 60%;
  margin:20px auto;
  padding-bottom: 20px;
  border: 2px solid #0985b6;
}
.text {
  background-color: #73d1f7;
  border: 1px solid #0985b6;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  margin: 0 10px 15px 10px;
  width:50%;
  height: 50px;
  resize: none;
}
.btn {
  background-color: #73d1f7;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #188ebd;
  color:#fff;
}

.naw-wrap {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.naw-wrap-item:first-child {
  margin-right: 30px;
}

.naw-wrap-item a {
  color: #0985b6;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.9s ease;
}

.naw-wrap-item a:hover {
  color:#73d1f7;
  transition: all 0.5s ease;
}

.about-box {
  width: 60%;
  height: 220px;
  margin:20px auto;
  padding-bottom: 20px;
  background-color: #73d1f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-box span {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}


.note-exit-active {
  animation: note 1s ease-out forwards;
}
.note-enter-active {
  animation: note 1s ease-out alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: .7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}